<div class="todo-content">
<mat-list>
    <span *ngIf="(Todo.length == 0)">
        <h3 mat-subheader class="alert alert-primary">No todo found</h3>
    </span>
      <ul class="todo-list">
        <li *ngFor="let todo of Todo" [class.completed]= "todo.completed === true" >
          <div class="todo-row">
              <a class="todo-completed" (click)="toggleCompleted(todo)">
                <i class="material-icons toggle-completed-checkbox"></i>
              </a>
              <span class="todo-title">
                {{todo.title}}
              </span>
              <span class="todo-actions">
                <a (click)="openDetailDialog(todo.id)">
                  <i class="material-icons dehaze">dehaze</i>
                </a>
                  <a (click)="openEditDialog(todo.id)">
                    <i class="material-icons edit">edit</i>
                  </a>
                  <a (click)="deleteTodo(todo.id)">
                    <i class="material-icons delete">delete</i>
                  </a>
              </span>
          </div>
        </li>
      </ul>
</mat-list>
</div>
