<mat-list>
    <span *ngIf="(Todo.length == 0)">
        <h3 mat-subheader class="alert alert-primary">No todo found</h3>
    </span>
    <h3 mat-subheader>Today</h3>
    <mat-list-item *ngFor="let todo of Todo">
        <mat-icon mat-list-icon>watch_later</mat-icon>
        <h4 mat-line>{{todo.id}}</h4>
        <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
        <p mat-line> {{todo.title}} </p>
        <span style="position:relative; right: 35x"> 
            <a href="#" (click)="openEditDialog(todo.id)">
                <mat-icon mat-list-icon>Edit</mat-icon>
            </a>   
            <a href="#" (click)="deleteItem(todo.id)">
            <mat-icon mat-list-icon>delete</mat-icon>
         </a> 
      </span>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>