<h2 mat-dialog-title>Edit todo</h2>
<mat-dialog-content>
    <mat-form-field class="todo-full-width">
        <input matInput [(ngModel)]="todoData.title" [formControl]= "editTodoControl" required>
        <mat-error *ngIf="editTodoControl.hasError('invalid')">This is required field</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onUpdate(todoData)">Save</button>
</mat-dialog-actions>
