<h2 mat-dialog-title>Add new todo</h2>
<mat-dialog-content>
    <mat-form-field class="todo-full-width">
        <input matInput placeholder="What needs to be done?" [(ngModel)]="todo.title" [formControl]= "addTodoControl" required>
        <mat-error *ngIf="addTodoControl.hasError('invalid')">This is required field</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave(todo)">Save</button>
</mat-dialog-actions>
